*, *::after, *::before {
  box-sizing: border-box;
  margin: none;
  padding: none;
}

body {
  border: none;
  margin: 0;
  color: rgb(0, 0, 0, 100%);
  font-family: sans-serif;
}

.header {
  display: flex;
  align-items: center;
}

.header-left {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: .5rem;
  padding: .5rem;
  border-right: 2px solid rgb(0, 0, 0, 100%);
}

.weather-icon {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.weather-icon.large {
  height: 80px;
  width: 80px;
}

.header-current-temp {
  font-size: 2rem;
  margin-left: 1rem;
}

.header-right {
  display: grid;
  width: 50%;
  justify-content: center;
  gap: .5rem;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}

.info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: .7rem;
  color: rgb(0, 0, 0, 80%);
}

.value-sub-info {
  font-weight: lighter;
  font-size: 0.75rem;
}